<html>

  <head>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

      <style>
          .main {
              padding-left: 8px;
          }
      </style>
  </head>

  <body>
      <h1>Movie Reviews</h1>
        <br>

        </div>
        
        <div id="content">
        </div>
      </div>
    </div>
  </body>

  <script>
    var results=0;

    var get = function () {
      var url = "http://localhost:5000/movies/";
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
        console.log(this.responseText);
        showResults(JSON.parse(this.responseText));
        }
      };
      xhr.open("GET", url);
      xhr.send();
      function showResults(response) {
        results = response.length;
        var resultsElement = document.getElementById('resultsQuantity');
        var pagesElement = document.getElementById('pagesQuantity');
        resultsElement.innerHTML = "Results: " + results;
        pagesElement.innerHTML = "Pages: " + pages;

        // Get the container
        var container = document.getElementById('content');
        // Create list element
        var list = document.createElement('ul');
        list.id = 'movies';
        list.classList.add('list-group');
        // Iterate over results
        for(var idx=0; idx<response.length; idx++){
          //Agregando el Poster
          var poster = document.createElement('img');
          if(response.results[idx].poster_path==null){
            poster.src="http://itorrent.us/images/movie-poster.jpg"
            poster.width = "185";
          }
          else{
            poster.src = "http://image.tmdb.org/t/p/w185//" + response.results[idx].poster_path;
          }
          list.appendChild(poster);
          //agregando boton

          list.appendChild(btnAgregar)
          //Agregando el Titulo
          var title = document.createElement('li');
          title.innerHTML = 'Title: ' + response.results[idx].original_title;
          list.appendChild(title);
          //Agregando la fecha de lanzamiento
          var releaseDate = document.createElement('li');
          releaseDate.innerHTML = 'Release Date: ' + response.results[idx].release_date;
          list.appendChild(releaseDate);
          
          //Agregando Los Votos
          var voteAvg = document.createElement('li');
          voteAvg.innerHTML = 'Vote Avg: ' + response.results[idx].vote_average;
          list.appendChild(voteAvg);
        }
        // Add list to container
        container.appendChild(list);
      }
    }
    
    function reset(){
      document.getElementById('content').innerHTML = "";
      results = 0;
    }
  </script>
</html>